.nav {
  overflow: hidden;

  height: 100%;
  min-width: 36rem;
  margin: 1.2rem;

  display: flex;
  flex-direction: column;
  gap: 1.2rem;

  &__block {
    background:linear-gradient(328deg, rgba(2,0,36,1) 0%, rgba(33,255,0,1) 100%); 
    border-radius: 0px;

    // width: 90%; // 90% of parent
    display: block;
    padding: .8rem;
  }

  &-link:link,
  &-link:visited {
    font-size: 1.8rem;
    font-weight: 700;
    text-decoration: none;
    color: inherit;

    height: 4rem;
    padding: .6rem 1.2rem;

    display: flex;
    align-items: center;
    gap: 1.2rem;

    svg {
      font-size: 2.8rem;
    }

    a:link,
    a:visited {
      text-decoration: none;
      color: inherit;
    }
  }
}
.connect-button {
    padding: 10px 20px;
    background-color: #00a2e3; 
    color: white;
    border: none;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: background-color 0.3s;

    &:hover {
        background-color: #0004eb; // Darker shade on hover
    }

    .icon {
        margin-right: 10px;
    }
}

